@{
    ViewData["Title"] = "Panel Administratora";
}

<div class="container">
    <main id="main">
        <h2>Panel administratora</h2>
        <hr />
        <p>Możesz:</p>
        <ol>
            <li>Dodać kandydatów do wyborów</li>
            <li>Stworzyć nowe wybory</li>
            <li><i>Usunąć kandydata z wyborów (do zrobienia)</i></li>
        </ol>
    </main>
</div>
