@{
    ViewData["Title"] = "Błąd głosowania";
}
<br />
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <center>
            <h2 class="text-danger">Błąd głosowania</h2>
            <p>Głos nie został oddany.</p>
            <p>Jeśli ten błąd się powtarza, skontaktuj się z administratorem</p>
        </center>
    </main>
</div>