@{
    ViewData["Title"] = "Oddany głos";
}

<div class="container">
    <main id="main">
        <center>
            <h2 class="text-success">Twój głos został oddany pomyślnie!</h2>
            <br />
            <h3 class="text-danger">UWAGA!</h3>
            <br />
            <p>Skopiuj i zapisz hash, aby móc w przyszłości sprawdzić swój głos:</p>
            <h4 class="text-warning font-weight-bold">@ViewBag.ID</h4>
            <br />
            <p>Twój hash został również wysłany na Twój adres e-mail.</p>
        </center>
    </main>
</div>
