@{
    ViewData["Title"] = "Oddany głos";
}
<br />
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <div class="text-center">
            <h2><b class="text-success">Twój głos został oddany pomyślnie!</b></h2>
            <h3><b class="text-danger">UWAGA!</b></h3>
            <p>Skopiuj i zapisz hash, aby móc w przyszłości sprawdzić swój głos.</p>
            <h4>Hash głosu: <b class="text-warning">@ViewBag.ID</b></h4>
            <p>Twój hash został również wysłany na Twój adres e-mail!</p>
        </div>
    </main>
</div>
