@{
    ViewData["Title"] = "Aktywacja konta";
}

<div class="container">
    <main id="main">
        <h2>Aktywacja konta</h2>
        <hr />
        <div class="text-center">
            <br />
            <h1>@ViewBag.Message</h1>
        </div>
    </main>
</div>
