@{
    ViewData["Title"] = "Aktywacja konta";
}
<br />
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <center>
            <br />
            <h1>@ViewBag.Message</h1>
        </center>
    </main>
</div>
