@{
    ViewData["Title"] = "Błąd głosowania";
}
<center>
    <h2 class="text-danger">Błąd głosowania</h2>
    <p>Głos nie został oddany. Łańcuch bloków sprawdzający poprawność głosowania został przerwany.</p>
    <p>Ten błąd może oznaczać również, że doszło do fałszerstwa wyborczego.</p>
    <p>Skontaktuj się z administratorem w celu sprawdzenia dlaczego nie można oddać głosu.</p>
</center>