@{
    ViewData["Title"] = "Panel Administratora";
}
<br />
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <h1>Panel Administratora</h1>
        <p>Możesz:</p>
        <p>1. Dodać kandydatów</p>
        <p>2. Stworzyć nowe wybory</p>
    </main>
</div>