@model InternetVotingApplication.Models.PasswordRecovery

@{
    ViewData["Title"] = "Odzyskanie hasła";
}
<br />
<br />
<br />

<div class="container">
    <main id="main">
        <h2>Odzyskanie hasła</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pesel"></label>
                        <input asp-for="Pesel" class="form-control" />
                        <span asp-validation-for="Pesel" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Zresetuj hasło</button>
                </form>
            </div>
        </div>

        @if (ViewBag.Error == false)
        {
            <div class="alert alert-danger" role="alert">
                <b>Zresetowanie hasła nie powiodło się!</b>
            </div>
        }

        @if (ViewBag.Success == true)
        {
            <div class="alert alert-success" role="alert">
                <b>Poprawnie zresetowano hasło!</b>
                <b>Nowe hasło zostało wysłane na adres Email!</b>
            </div>
        }
    </main>
</div>
