@model InternetVotingApplication.ViewModels.GlosowanieWyborczeViewModel

@{
    ViewData["Title"] = "Wyszukiwarka";
}
<br />
<br />
<br />

<div class="container">
    <main id="main">
        <h2>Wprowadź hash swojego głosu aby sprawdzić jego poprawność</h2>
        <h3>Jeśli twój głos zostanie znaleziony, zobaczysz go poniżej</h3>
        <hr />

        <form method="get">
            <div class="input-group">
                <input class="form-control" asp-for="Text" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Szukaj</button>
                </div>
            </div>
        </form>

        @if (Model.SearchCandidate.IdKandydat != 0 && Model.SearchCandidate.IdWybory != 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imię kandydata</th>
                            <th>Nazwisko kandydata</th>
                            <th>Opis wyborów</th>
                            <th>Hash</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.SearchCandidate.CandidateName</td>
                            <td>@Model.SearchCandidate.CandidateSurname</td>
                            <td>@Model.SearchCandidate.ElectionDesc</td>
                            <td>@Model.SearchCandidate.Hash</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </main>
</div>
