@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<center>
    <p ><h2 ><b class="text-success">Twój głos został oddany pomyślnie!</b></h2></p>
    <p ><h3 ><b class="text-danger">UWAGA!</b></h3></p>
    <p>Skopiuj i zapisz hash aby móc w przyszłości sprawdzić swój głos.</p>
    <p><h4>Hash głosu: <b class="text-warning">@ViewBag.ID</b></h4></p>
    <p>Jeśli zamkniesz to okno nie będziesz mógł do tego wrócić!</p>
</center>