@{
    ViewData["Title"] = "Strona główna";
}
<br />
<br />
<br />
<br />
<!-- ======= Top Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Witamy w aplikacji do głosowania w wyborach prezydenckich.</h1>
                <h2>Konto jest wymagane, aby móc brać udział w głosowaniach wyborczych.</h2>
                <div>
                    <a href="https://localhost:44342/Account/Login" class="btn-get-started scrollto">Zaloguj się</a>
                    <a href="https://localhost:44342/Account/Register" class="btn-get-started scrollto">Zarejestruj się</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/vote2.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section><!-- Top Hero -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                    <img src="assets/img/vote1.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <h3>Witaj w aplikacji do głosowań prezydenckich</h3>
                    <p>
                        Aplikacja ta umożliwia Ci wyrażenie swojego głosu i uczestnictwo w procesie wyborczym dotyczącym wyborów prezydenckich. Dzięki niej będziesz mógł/a oddać głos na kandydata, którego poglądy i program wyborczy najbardziej odpowiadają Twoim przekonaniom. Pamiętaj, że Twój głos ma znaczenie dla przyszłości kraju!
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <i class="bx bx-receipt"></i>
                            <h4>Informacje o kandydatach</h4>
                            <p>Tutaj znajdziesz szczegółowe informacje na temat poszczególnych kandydatów biorących udział w wyborach prezydenckich. Zapoznaj się z ich programami wyborczymi i zaplanuj swój głos.</p>
                        </div>
                        <div class="col-md-6">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Uczestnictwo w wyborach</h4>
                            <p>Zaplanuj swoje uczestnictwo w wyborach prezydenckich. Sprawdź daty, miejsca i godziny otwarcia lokali wyborczych oraz dowiedz się, jakie dokumenty musisz posiadać, aby móc oddać głos.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h4>Pomoc i wsparcie</h4>
                            <p>Jeśli masz jakiekolwiek pytania lub potrzebujesz pomocy związanej z aplikacją do głosowań prezydenckich, skontaktuj się z naszym zespołem. Chętnie pomożemy i udzielimy wszelkich niezbędnych informacji.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Mid Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Informacje o głosowaniu</h2>
                <p>Aplikacja do głosowania w wyborach prezydenckich</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title">Bezpieczne głosowanie</h4>
                        <p class="description">Nasz system głosowania w wyborach prezydenckich opiera się na wewnętrznym łańcuchu blockchain, co zapewnia wysoki poziom bezpieczeństwa i niezmienność wyników. Każdy oddany głos jest zabezpieczony przed fałszerstwem i nieuprawnionym dostępem.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title">Szybkość i efektywność</h4>
                        <p class="description">Dzięki zastosowaniu technologii blockchain, proces głosowania jest szybki i efektywny. Wyniki są rejestrowane natychmiastowo i dostępne do wglądu, co przyczynia się do skrócenia czasu przetwarzania danych oraz uniknięcia błędów związanych z tradycyjnymi metodami głosowania.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title">Sprawdzalność głosu</h4>
                        <p class="description">Każdy uczestnik wyborów może sprawdzić poprawność oddanego głosu za pomocą unikalnego hashu. Dzięki temu, każdy obywatel może indywidualnie zweryfikować, czy jego głos został zarejestrowany i niezmieniony w systemie. Zapewniamy transparentność i zaufanie do całego procesu wyborczego.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title">Ułatwienie udziału w wyborach</h4>
                        <p class="description">Nasza aplikacja do głosowania w wyborach prezydenckich umożliwia łatwe i wygodne uczestnictwo w procesie wyborczym. Dzięki niej możesz oddać swój głos z dowolnego miejsca i o dowolnej porze, co zwiększa dostępność dla wszystkich uprawnionych do głosowania obywateli.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Mid Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Najczęściej zadawane pytania</h2>
                <p>Pytania dotyczące aplikacji do głosowania w wyborach prezydenckich</p>
            </div>
            <ul class="faq-list">
                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Czy można zweryfikować poprawność oddanego głosu za pomocą systemu blockchain? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>Tak, nasz system oparty na wewnętrznym łańcuchu blockchain umożliwia każdemu uczestnikowi wyborów sprawdzenie poprawności oddanego głosu za pomocą unikalnego hasha. Dzięki temu, możesz mieć pewność, że Twój głos został zarejestrowany i niezmieniony w systemie.</p>
                    </div>
                </li>
                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Czy proces głosowania jest bezpieczny i chroniony przed fałszerstwem? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>Tak, nasz system głosowania zapewnia wysoki poziom bezpieczeństwa i chroni przed fałszerstwem. Dzięki technologii blockchain, każdy oddany głos jest zabezpieczony i niemożliwy do sfałszowania. Możesz mieć pewność, że Twoje głosy będą liczone zgodnie z zasadami i przepisami wyborczymi.</p>
                    </div>
                </li>
                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Czy aplikacja umożliwia szybkie i efektywne przetwarzanie głosów? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>Tak, nasza aplikacja do głosowania w wyborach prezydenckich zapewnia szybkie i efektywne przetwarzanie głosów. Dzięki zastosowaniu technologii blockchain, wyniki są rejestrowane natychmiastowo i dostępne do wglądu. Skracamy czas przetwarzania danych i minimalizujemy błędy związane z tradycyjnymi metodami głosowania.</p>
                    </div>
                </li>
                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Czy aplikacja umożliwia udział w wyborach obywatelom z różnych miejsc? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>Tak, nasza aplikacja do głosowania w wyborach prezydenckich umożliwia udział obywatelom z różnych miejsc. Dzięki mobilności i dostępności online, każdy uprawniony do głosowania obywatel może oddać swój głos z dowolnego miejsca i o dowolnej porze. Zapewniamy równy dostęp do procesu wyborczego dla wszystkich.</p>
                    </div>
                </li>
                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Jak mogę sprawdzić, czy mój głos został poprawnie zarejestrowany? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>Aby sprawdzić, czy Twój głos został poprawnie zarejestrowany, skorzystaj z unikalnego hasha, który wyświetli ci się po oddaniu głosu oraz otrzymasz go na adres email. Możesz go wprowadzić w wyszukiwarkę znajdującą się na górze strony pod nazwą "Sprawdź głos" i zweryfikować poprawność swojego głosu. Dzięki temu, masz pełną kontrolę nad swoim udziałem w procesie wyborczym.</p>
                    </div>
                </li>
                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Jakie są główne zalety systemu opartego na technologii blockchain? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>System oparty na wewnętrznym łańcuchu blockchain ma wiele zalet, takich jak: bezpieczeństwo - dzięki zdecentralizowanemu i niezmiennemu charakterowi blockchain, system jest odporny na ingerencje i manipulacje; przejrzystość - wszystkie transakcje są rejestrowane w publicznym łańcuchu bloków, co zapewnia transparentność procesu wyborczego; nieodwracalność - raz zarejestrowane głosy nie mogą zostać cofnięte lub zmienione, co gwarantuje integralność wyników; efektywność - system blockchain umożliwia szybkie i dokładne przetwarzanie głosów, minimalizując błędy i opóźnienia.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section><!-- End F.A.Q Section -->
</main>