@{
    ViewData["Title"] = "Strona główna";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <h2>Witamy w aplikacji do głosowania w wyborach prezydenckich.</h2>
    <p>Jeśli nie masz konta przejdź do rejestracji: <a href="https://localhost:44342/Account/Register">Zarejestruj się</a>.</p>
    <p>Lub zaloguj się: <a href="https://localhost:44342/Account/Login">Zaloguj się</a>.</p>
    <p>Konto jest wymagane aby móc brać udział w głosowaniach prezydenckich.</p>
</div>
