@{
    ViewData["Title"] = "Polityka prywatności";
}
<br />
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <h1>Polityka prywatności</h1>
        <p>Polityka prywatności aplikacji do głosowania internetowego!</p>
    </main>
</div>