@{
    ViewData["Title"] = "Polityka prywatności";
}
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <h2>Polityka prywatności</h2>
        <hr />
        <p>Polityka prywatności dotycząca aplikacji do głosowania internetowego:</p>
        <p>Aplikacja do głosowania internetowego gromadzi i przetwarza dane osobowe wyborców w celu umożliwienia uczestnictwa w wyborach prezydenckich. Zobowiązujemy się do ochrony prywatności użytkowników i zapewnienia bezpieczeństwa ich danych.</p>
        <p>Zebrane dane osobowe, takie jak adres email i numer PESEL, są wykorzystywane wyłącznie w celu uwierzytelniania wyborców i zapewnienia prawidłowości procesu głosowania.</p>
        <p>Nie udostępniamy ani nie sprzedajemy zebranych danych osobowych żadnym podmiotom trzecim.</p>
        <p>Przypominamy, że udział w głosowaniu jest dobrowolny, a każdy wyborca ma prawo do wycofania swojego udziału w dowolnym momencie.</p>
        <p>W przypadku jakichkolwiek pytań lub wątpliwości dotyczących polityki prywatności, prosimy o kontakt z nami.</p>
    </main>
</div>
