@{
    ViewData["Title"] = "Polityka prywatności";
}
<br />
<br />
<br />
<br />
<div class="container">
    <main id="main">
        <h2>Polityka prywatności</h2>
        <hr />
        <p>Polityka prywatności aplikacji do głosowania internetowego!</p>
    </main>
</div>
